Install pip :
    For Debian/Ubuntu based System: sudo apt-get install python3-pip

Install Numpy: 
    pip install numpy
    pip install seaborn 
    pip install tensorflow
    pip install wordcloud 
    pip install -U scikit-learn
    pip install langchain
    pip install sentence-transformers
    pip install numpy=2.2.4
    pip install -U nltk
    pip install sentence-transformers
    pip install gensim --no-binary :all:
    !pip install fasttext